In [316]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import os

f_data = pd.read_csv("reversed_financial_report_2y.csv")


columns_to_drop = ["reportedCurrency", "investmentIncomeNet", "interestIncome", "nonInterestIncome","otherNonOperatingIncome"]
f_data = f_data.drop(columns=columns_to_drop)

f_data["fiscalDateEnding"] = pd.to_datetime(f_data["fiscalDateEnding"])
f_data = f_data.set_index("fiscalDateEnding")

f_data.head()

,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,netInterestIncome,interestExpense,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
fiscalDateEnding,,,,,,,,,,,,,,,,,,,,
2009-06-30,10581000000,23250000000,12669000000,12366000000,4032000000,5115000000,1434000000,6650000000,-101000000,101000000,936000000,1242000000,4262000000,1159000000,101000000,3103000000,3103000000,4363000000,4032000000,3103000000
2009-09-30,10627000000,23566000000,12938000000,12637000000,4168000000,5013000000,1446000000,6543000000,-84000000,84000000,953000000,305000000,4373000000,1159000000,84000000,3214000000,3214000000,4457000000,4762000000,3214000000
2009-12-31,13145000000,27230000000,14085000000,13784000000,5827000000,5560000000,1460000000,7399000000,-81000000,81000000,967000000,298000000,6381000000,1568000000,81000000,4813000000,21253000000,6462000000,6760000000,4813000000
2010-03-31,9976000000,22857000000,12880000000,12608000000,2504000000,5677000000,1509000000,7554000000,-82000000,82000000,924000000,286000000,3515000000,914000000,82000000,2601000000,2601000000,3597000000,3883000000,2601000000
2010-06-30,10809000000,23724000000,12915000000,12641000000,3858000000,5061000000,1475000000,7041000000,-90000000,90000000,899000000,284000000,4575000000,1190000000,90000000,3385000000,6438000000,4665000000,4949000000,3385000000

In [317]:
if os.path.exists("IBM.csv"):
    data = pd.read_csv("IBM.csv", index_col=0)
else: #download data if not found
    data = yf.Ticker("IBM")
    data = data.history(period="max")
    data.to_csv("IBM.csv")


# Convert the index to datetime with utc=True
data.index = pd.to_datetime(data.index, utc=True)

# Ensure the index is a DatetimeIndex
if not isinstance(data.index, pd.DatetimeIndex):
    data = data.set_index(pd.to_datetime(data.index, utc=True))

# Filter data to include only records from 2016 onwards
data = data[data.index.year >= 2009].copy()

# reset the index (the index will be 0,1,2... rather than the date)
# data = data.reset_index()

#volume values are too lage
# data['Volume'] = data['Volume']/10000000
# columns_to_drop2 = ["Dividends", "Stock Splits"]
# data = data.drop(columns=columns_to_drop2)

data.head(255)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-01-02 05:00:00+00:00,47.670629,49.773160,47.670629,49.648144,7905877,0.0,0.0
2009-01-05 05:00:00+00:00,49.108301,49.818616,48.971925,49.335606,8698222,0.0,0.0
2009-01-06 05:00:00+00:00,49.500418,51.375649,49.079910,50.705109,10093377,0.0,0.0
2009-01-07 05:00:00+00:00,49.909543,50.460745,49.506083,49.886810,8844035,0.0,0.0
2009-01-08 05:00:00+00:00,49.898160,50.085685,48.858261,49.540161,7564463,0.0,0.0
...,...,...,...,...,...,...,...
2009-12-30 05:00:00+00:00,76.060342,76.900754,75.741561,76.836998,4044882,0.0,0.0
2009-12-31 05:00:00+00:00,76.744231,76.999251,75.782103,75.869041,4417676,0.0,0.0
2010-01-04 05:00:00+00:00,76.031347,77.068823,75.840083,76.767433,6438444,0.0,0.0
2010-01-05 05:00:00+00:00,76.321150,76.419684,75.405391,75.840088,7156104,0.0,0.0
2010-01-06 05:00:00+00:00,75.741543,76.211019,75.237299,75.347420,5863144,0.0,0.0

In [318]:
from datetime import timedelta

for index, row in f_data.iterrows():
    # Extract year, month, and day from the date
    year, month, day = row.name.year, row.name.month, row.name.day

    # Filter the data DataFrame for the corresponding date
    matching_row = data[(data.index.year == year) & (data.index.month == month) & (data.index.day == day)]

    # If a matching row is not found, find the nearest available date
    while matching_row.empty:
        # Increment the date by one day
        row.name += timedelta(days=1)

        # Update year, month, and day
        year, month, day = row.name.year, row.name.month, row.name.day

        # Filter the data DataFrame for the new date
        matching_row = data[(data.index.year == year) & (data.index.month == month) & (data.index.day == day)]

    # Assign the 'close' value to 'Close' in f_data
    f_data.loc[index, 'Close'] = matching_row['Close'].iloc[0]

# Display the updated f_data
f_data.head(30)

,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,netInterestIncome,interestExpense,...,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome,Close
fiscalDateEnding,,,,,,,,,,,,,,,,,,,,,
2009-06-30,10581000000,23250000000,12669000000,12366000000,4032000000,5115000000,1434000000,6650000000,-101000000,101000000,...,1242000000,4262000000,1159000000,101000000,3103000000,3103000000,4363000000,4032000000,3103000000,59.971252
2009-09-30,10627000000,23566000000,12938000000,12637000000,4168000000,5013000000,1446000000,6543000000,-84000000,84000000,...,305000000,4373000000,1159000000,84000000,3214000000,3214000000,4457000000,4762000000,3214000000,69.015678
2009-12-31,13145000000,27230000000,14085000000,13784000000,5827000000,5560000000,1460000000,7399000000,-81000000,81000000,...,298000000,6381000000,1568000000,81000000,4813000000,21253000000,6462000000,6760000000,4813000000,75.869041
2010-03-31,9976000000,22857000000,12880000000,12608000000,2504000000,5677000000,1509000000,7554000000,-82000000,82000000,...,286000000,3515000000,914000000,82000000,2601000000,2601000000,3597000000,3883000000,2601000000,74.665588
2010-06-30,10809000000,23724000000,12915000000,12641000000,3858000000,5061000000,1475000000,7041000000,-90000000,90000000,...,284000000,4575000000,1190000000,90000000,3385000000,6438000000,4665000000,4949000000,3385000000,72.257050
2010-09-30,11001000000,24271000000,13270000000,13021000000,3959000000,5149000000,1464000000,6256000000,-95000000,95000000,...,289000000,4674400000,1088000000,95000000,3589000000,8207400000,4769400000,5058400000,3586400000,78.883934
2010-12-31,14227000000,29018000000,14792000000,14487000000,5178000000,5951000000,1578000000,9285000000,-101000000,101000000,...,870000000,6951400000,1698000000,101000000,5258000000,9246400000,7052400000,7922400000,5253400000,86.688896
2011-03-31,10858000000,24607000000,13749000000,13506000000,2448000000,5826000000,1587000000,8372000000,-93000000,93000000,...,310000000,3814400000,954000000,93000000,2863000000,6347400000,3907400000,4217400000,2860400000,96.704338
2011-06-30,12385000000,26666000000,14282000000,14013000000,4166000000,6030000000,1569000000,8316000000,-97000000,97000000,...,309000000,4882900000,1221000000,97000000,3664000000,3402900000,4979900000,5288900000,3661900000,102.188148
2011-09-30,12173000000,26157000000,13984000000,13708000000,4355000000,5662000000,1546000000,7925000000,-107000000,107000000,...,307000000,5026100000,1188000000,107000000,3839000000,2249100000,5133100000,5440100000,3838100000,104.619400
2011-12-31,14722000000,29486000000,14764000000,14487000000,6179000000,6076000000,1555000000,9119000000,-113000000,113000000,...,853000000,7273700000,1784000000,113000000,5490000000,9081700000,7386700000,8239700000,5489700000,111.905670
2012-03-31,11118000000,24673000000,13555000000,13310000000,2537000000,5886000000,1601000000,8548000000,-110000000,110000000,...,310000000,3831400000,769000000,110000000,3067000000,3107400000,3941400000,4251400000,3062400000,126.313255
2012-06-30,12281000000,25783000000,13502000000,13220000000,3831000000,5837000000,1587000000,8567000000,-117000000,117000000,...,318000000,5159000000,1280000000,117000000,3881000000,7377000000,5276000000,5594000000,3879000000,118.582855
2012-09-30,11732000000,24747000000,13016000000,12757000000,3085000000,5908000000,1534000000,8771000000,-124000000,124000000,...,324000000,5072000000,1251000000,124000000,3823000000,8422000000,5196000000,5520000000,3821000000,127.992134
2012-12-31,15230000000,27671000000,12441000000,13834000000,6629000000,5831000000,1094000000,8615000000,-109000000,109000000,...,877000000,8071600000,2241000000,109000000,5833000000,6625600000,8180600000,9057600000,5830600000,116.996178
2013-03-31,10678000000,23408000000,12730000000,12457000000,2228000000,5577000000,1644000000,8482000000,-94000000,94000000,...,331000000,3604600000,574000000,94000000,3032000000,6355600000,3698600000,4029600000,3030600000,130.264832
2013-06-30,12132000000,24924000000,12792000000,12528000000,3578000000,6680000000,1548000000,8652000000,-98000000,98000000,...,326000000,4143100000,918000000,98000000,3226000000,6142100000,4241100000,4567100000,3225100000,117.872940
2013-09-30,11429000000,23338000000,11908000000,12073000000,4307000000,5260000000,1356000000,7170000000,-97000000,97000000,...,350000000,4871200000,832000000,97000000,4040000000,8883200000,4968200000,5318200000,4039200000,114.684357
2013-12-31,14337000000,27385000000,13048000000,13078000000,5927000000,5988000000,1452000000,8502000000,-113000000,113000000,...,931000000,7066200000,885000000,113000000,6184000000,15735200000,7179200000,8110200000,6181200000,116.788361
2014-03-31,10627000000,22236000000,11608000000,11662000000,2575000000,6272000000,1402000000,8073000000,-105000000,105000000,...,339000000,3037500000,653000000,105000000,2384000000,5214500000,3142500000,3481500000,2384500000,120.508827
2014-06-30,12044000000,24047000000,12003000000,12160000000,4575000000,5593000000,1361000000,7536000000,-136000000,136000000,...,340000000,5230600000,1096000000,136000000,4137000000,9057600000,5366600000,5706600000,4134600000,114.145241
2014-09-30,10874000000,22397000000,11523000000,11266000000,3900000000,5281000000,1354000000,6974000000,-126000000,126000000,...,339000000,921600000,906000000,126000000,3455000000,-593400000,1047600000,1386600000,15600000,120.242371
2014-12-31,12862000000,24113000000,11251000000,10977000000,5179000000,6034000000,1320000000,6410000000,-117000000,117000000,...,329000000,7060200000,1579000000,117000000,5514000000,-1415800000,7177200000,7506200000,5481200000,102.321625
2015-03-31,9452000000,19590000000,10138000000,9903000000,2494000000,5362000000,1298000000,7310000000,-108000000,108000000,...,298000000,2911800000,585000000,108000000,2415000000,2359800000,3019800000,3317800000,2326800000,103.077965
2015-06-30,10390000000,20813000000,10423000000,10157000000,3615000000,5179000000,1300000000,6775000000,-115000000,115000000,...,296000000,4144600000,698000000,115000000,3526000000,3857600000,4259600000,4555600000,3446600000,105.255768
2015-09-30,9436000000,19280000000,9844000000,9611000000,3128000000,4731000000,1287000000,6308000000,-117000000,117000000,...,290000000,3606600000,659000000,117000000,2962000000,2224600000,3723600000,4013600000,2947600000,94.587456
2015-12-31,11406000000,22059000000,10652000000,10375000000,4681000000,5157000000,1362000000,6725000000,-128000000,128000000,...,309000000,5106900000,638000000,128000000,4460000000,3016900000,5234900000,5543900000,4468900000,90.634125
2016-03-31,8686000000,18684000000,9999000000,9760000000,697000000,6012000000,1458000000,7989000000,-147000000,147000000,...,347000000,1031000000,-983000000,147000000,2016000000,2622000000,1178000000,1525000000,2014000000,100.761147
2016-06-30,9702000000,20238000000,10536000000,10273000000,2490000000,5349000000,1465000000,7212000000,-167000000,167000000,...,398000000,3048000000,544000000,167000000,2505000000,2899000000,3215000000,3613000000,2504000000,101.955208
2016-09-30,9013000000,19226000000,10213000000,9954000000,2481000000,4732000000,1397000000,6532000000,-158000000,158000000,...,403000000,3262000000,409000000,158000000,2854000000,3293000000,3420000000,3823000000,2853000000,107.625916

In [319]:
f_data['Close_next_quarter'] = (f_data['Close'].shift(-1) > f_data['Close']).astype(int)* 2 - 1  # * 2 - 1 ==>   replaces 0 with -1
f_data.head()

,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,netInterestIncome,interestExpense,...,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome,Close,Close_next_quarter
fiscalDateEnding,,,,,,,,,,,,,,,,,,,,,
2009-06-30,10581000000,23250000000,12669000000,12366000000,4032000000,5115000000,1434000000,6650000000,-101000000,101000000,...,4262000000,1159000000,101000000,3103000000,3103000000,4363000000,4032000000,3103000000,59.971252,1
2009-09-30,10627000000,23566000000,12938000000,12637000000,4168000000,5013000000,1446000000,6543000000,-84000000,84000000,...,4373000000,1159000000,84000000,3214000000,3214000000,4457000000,4762000000,3214000000,69.015678,1
2009-12-31,13145000000,27230000000,14085000000,13784000000,5827000000,5560000000,1460000000,7399000000,-81000000,81000000,...,6381000000,1568000000,81000000,4813000000,21253000000,6462000000,6760000000,4813000000,75.869041,-1
2010-03-31,9976000000,22857000000,12880000000,12608000000,2504000000,5677000000,1509000000,7554000000,-82000000,82000000,...,3515000000,914000000,82000000,2601000000,2601000000,3597000000,3883000000,2601000000,74.665588,-1
2010-06-30,10809000000,23724000000,12915000000,12641000000,3858000000,5061000000,1475000000,7041000000,-90000000,90000000,...,4575000000,1190000000,90000000,3385000000,6438000000,4665000000,4949000000,3385000000,72.257050,1

In [320]:
from sklearn.model_selection import train_test_split

X = f_data.drop("Close_next_quarter", axis=1)
y = f_data["Close_next_quarter"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #without random_state=44
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=44)

In [321]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors
from sklearn.model_selection import GridSearchCV #for selecting best parameter (K) for the model
from sklearn.metrics import accuracy_score, confusion_matrix

#using GridSearch to find the best parameter
params = {'n_neighbors': [2,3,4,5,6,7,8,9,10,11,12,13,14,15]}
knn = neighbors.KNeighborsClassifier()
model = GridSearchCV(knn, params, cv=5)
#cv=5 means that the model evaluation is done using 5-fold cross-validation during the grid search for finding the best parameter (n_neighbors) for the KNeighborsClassifier.

#fit the model
model.fit(X_train, y_train)

#Accuracy Score
accuracy_train = accuracy_score(y_train, model.predict(X_train))
accuracy_test = accuracy_score(y_test, model.predict(X_test))

print(f'Train_data Accuracy: {accuracy_train:.2f}%')
print(f'Test_data Accuracy: {accuracy_test:.2f}%')

# Confusion Matrix
conf_matrix_train = confusion_matrix(y_train, model.predict(X_train))
conf_matrix_test = confusion_matrix(y_test, model.predict(X_test))

print("\nConfusion Matrix for Training Data:")
print(conf_matrix_train)

print("\nConfusion Matrix for Test Data:")
print(conf_matrix_test)

# Number of correct predictions for each class
correct_predictions_1_train = conf_matrix_train[1, 1]
correct_predictions_minus1_train = conf_matrix_train[0, 0]

correct_predictions_1_test = conf_matrix_test[1, 1]
correct_predictions_minus1_test = conf_matrix_test[0, 0]

print(f'\nCorrect predictions for class "1" in Training Data: {correct_predictions_1_train}')
print(f'Correct predictions for class "-1" in Training Data: {correct_predictions_minus1_train}')

print(f'\nCorrect predictions for class "1" in Test Data: {correct_predictions_1_test}')
print(f'Correct predictions for class "-1" in Test Data: {correct_predictions_minus1_test}')

Train_data Accuracy: 0.67%
Test_data Accuracy: 0.58%

Confusion Matrix for Training Data:
[[ 5 13]
 [ 2 26]]

Confusion Matrix for Test Data:
[[1 4]
 [1 6]]

Correct predictions for class "1" in Training Data: 26
Correct predictions for class "-1" in Training Data: 5

Correct predictions for class "1" in Test Data: 6
Correct predictions for class "-1" in Test Data: 1

In [322]:
from sklearn.ensemble import RandomForestClassifier

model3 = RandomForestClassifier(n_estimators=240, min_samples_split=138, random_state=1)

#fit the model
model3.fit(X_train, y_train)

#Accuracy Score
accuracy_train = accuracy_score(y_train, model3.predict(X_train))
accuracy_test = accuracy_score(y_test, model3.predict(X_test))

print(f'Train_data Accuracy: {accuracy_train:.2f}%')
print(f'Test_data Accuracy: {accuracy_test:.2f}%')

# Confusion Matrix
conf_matrix_train = confusion_matrix(y_train, model3.predict(X_train))
conf_matrix_test = confusion_matrix(y_test, model3.predict(X_test))

print("\nConfusion Matrix for Training Data:")
print(conf_matrix_train)

print("\nConfusion Matrix for Test Data:")
print(conf_matrix_test)

# Number of correct predictions for each class
correct_predictions_1_train = conf_matrix_train[1, 1]
correct_predictions_minus1_train = conf_matrix_train[0, 0]

correct_predictions_1_test = conf_matrix_test[1, 1]
correct_predictions_minus1_test = conf_matrix_test[0, 0]

print(f'\nCorrect predictions for class "1" in Training Data: {correct_predictions_1_train}')
print(f'Correct predictions for class "-1" in Training Data: {correct_predictions_minus1_train}')

print(f'\nCorrect predictions for class "1" in Test Data: {correct_predictions_1_test}')
print(f'Correct predictions for class "-1" in Test Data: {correct_predictions_minus1_test}')

Train_data Accuracy: 0.61%
Test_data Accuracy: 0.58%

Confusion Matrix for Training Data:
[[ 0 18]
 [ 0 28]]

Confusion Matrix for Test Data:
[[0 5]
 [0 7]]

Correct predictions for class "1" in Training Data: 28
Correct predictions for class "-1" in Training Data: 0

Correct predictions for class "1" in Test Data: 7
Correct predictions for class "-1" in Test Data: 0